#directories
#directories
/build
/captures
/.externalNativeBuild
/.cxx
/intermediates
/gradle
/app/build
/app/.externalNativeBuild
/app/.cxx
/AhMyth-Client/app/build
/AhMyth-Client/app/.externalNativeBuild
/AhMyth-Client/app/.cxx
/AhMyth-Client/build
/AhMyth-Client/.gradle
/AhMyth-Server/app/app/Factory/Ahmyth/build
/AhMyth-Server/node_modules
/AhMyth-Server/build
/AhMyth-Server/app/node_modules

#files
*.iml
*.ap_generated_sources
*.log
*.jar
*.keystore
*.tgz
.DS_Store
.gradle
.idea
local.properties