<div class="ui segment h100">
    <div class="ui grid center aligned h100">
        <div class="row h20">
            <div class="column">
                <div class="ui buttons">
                    <button class="ui labeled icon green button" ng-click="StartStream()" ng-disabled="isStreaming">
                        <i class="play icon"></i>Start Stream
                    </button>
                    <button class="ui labeled icon red button" ng-click="StopStream()" ng-disabled="!isStreaming">
                        <i class="stop icon"></i>Stop Stream
                    </button>
                </div>
                <div class="ui divider"></div>
                <div class="ui right floated labeled input">
                    <div class="ui label">
                        Seconds
                    </div>
                    <input type="text" ng-model="sec" placeholder="">
                </div>
                <button class="ui labeled icon black button" ng-click="Record(sec)"><i class="photo icon"></i>Record</button>
            </div>
        </div>
        <div class="row h40">
            <div class="column h100">
                <div class="ui segment">
                    <div ng-if="isStreaming" class="ui active inline loader"></div>
                    <div ng-if="isStreaming" class="ui message">
                        <i class="microphone icon"></i>Real-time streaming (PCM)...
                    </div>
                    <audio controls id="player" style="width: 100%;">
                        <source src="" id="sourceMp3" type="audio/mp3">
                        <source src="" id="sourceWav" type="audio/wav">
                        Not Supported.
                    </audio>
                    <br>
                    <div class="ui buttons">
                        <button class="ui red button" ng-click="SaveAudio()" ng-disabled="(isAudio && !hasRecordedData) || isStreaming">
                            <i class="save icon"></i>Save Recording
                        </button>
                        <button class="ui blue button" ng-click="SaveStreamRecording()" ng-disabled="isStreaming || !hasRecordedData">
                            <i class="download icon"></i>Save Stream
                        </button>
                        <button class="ui green button" ng-click="loadSavedAudioFiles()" ng-disabled="loadingAudioList">
                            <i class="refresh icon" ng-class="{'loading': loadingAudioList}"></i>Refresh List
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row h40">
            <div class="column h100">
                <div class="ui segment h100" style="overflow-y: auto;">
                    <h4 class="ui header">
                        <i class="music icon"></i>
                        <div class="content">
                            Saved Audio Files
                            <div class="sub header" ng-if="savedAudioFiles.length > 0">{{savedAudioFiles.length}} file(s)</div>
                        </div>
                    </h4>
                    <div ng-if="loadingAudioList" class="ui active inline loader"></div>
                    <div ng-if="!loadingAudioList && savedAudioFiles.length === 0" class="ui message">
                        <i class="info circle icon"></i>No saved audio files found
                    </div>
                    <div class="ui relaxed divided list" ng-if="!loadingAudioList && savedAudioFiles.length > 0">
                        <div class="item" ng-repeat="audioFile in savedAudioFiles">
                            <div class="content">
                                <div class="header">
                                    <i class="music icon"></i>{{audioFile.name}}
                                </div>
                                <div class="description">
                                    <span>{{formatFileSize(audioFile.size)}}</span>
                                    <span class="ui label mini">{{formatDate(audioFile.modified)}}</span>
                                </div>
                                <div class="ui buttons mini" style="margin-top: 5px;">
                                    <button class="ui blue button" ng-click="playSavedAudio(audioFile)">
                                        <i class="play icon"></i>Play
                                    </button>
                                    <button class="ui red button" ng-click="deleteAudioFile(audioFile)">
                                        <i class="trash icon"></i>Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>